/* common css to all  */
*{
  transition: all .2s linear;
  text-decoration: none;
  box-sizing: border-box;
  outline: none; border: none;
  font-family: 'Times New Roman', Times, serif;
  margin: 0; padding: 0;
  text-align: center;
}

body{
  overflow-x: hidden;
}
html{
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-track{
  background: var(--secondary);
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
}

/* button */
.btn{
  background-color: var(--primary-color);
  color: var(--secondary);
  margin: 0 1rem; 
  padding: 0.7rem;
  border-radius: 0.7rem;
  border:1px solid var(--primary-color);
  cursor: pointer;
  min-width: 7rem;
  

  &:hover{
    background-color: var(--secondary);
    color: var(--primary-color);
    transform: scale(1.01);
  }
}

/* anchor tag  */
a{
  color: inherit;
  cursor: pointer;

  &:hover{
    transform: scale(0.9);
  }
}

/* section  */
section{
  padding: 1.5rem 0;
  margin: 0.1rem;
  border: 1.3px solid var(--primary-color);
}

/* headings  */
.heading{
  color: var(--primary-color);
  font-size: 2rem;
  text-decoration:underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.2rem;
  text-transform: uppercase;
}

/* heding top design  */
.head{
  display: flex;
  flex-flow: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  padding: 0 0 4px 0;
  text-transform: uppercase;

}
.head .line1{
  height: 1.5px;
  width: 30px;
  background-color: #141414;
  
}
.head .line2{
  height: 1.5px;
  width: 12px;
  background-color: #141414;
}
.head i{
  font-size: 4px;
  color: red;
}
.head p{
  font-size: 15px;
  font-weight:bolder;
  color: var(--primary-color);
}