
/* common css to all  */
:root{
  --primary-color: #6674CC;
  --secondary: #f8fcfe;
  --black: #141414;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.517);
}

*{
  transition: all .2s linear;
  text-decoration: none;
  box-sizing: border-box;
  outline: none; border: none;
  font-family: 'Times New Roman', Times, serif;
  margin: 0; padding: 0;
  text-align: center;
}

body{
  overflow-x: hidden;
}
html{
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-track{
  background: var(--secondary);
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
  border-radius: 0.5rem;
}

/* button */
.btn{
  background-color: var(--primary-color);
  color: var(--secondary);
  margin: 0 1rem; 
  padding: 0.7rem;
  border-radius: 0.7rem;
  border:1px solid var(--primary-color);
  cursor: pointer;
  min-width: 7rem;
  

  &:hover{
    background-color: var(--secondary);
    color: var(--primary-color);
    transform: scale(1.01);
  }
}

/* anchor tag  */
a{
  color: inherit;
  cursor: pointer;

  &:hover{
    transform: scale(0.9);
  }
}

/* section  */
section{
  padding: 2rem 0;
  margin: 0.1rem;
  border: 1.3px solid var(--primary-color);
  background-image: linear-gradient(to right, #f9f5f3 0%, #e2edf4 100%);
}

/* heding design  */
.head{
  display: flex;
  flex-flow: row;
  gap: 3px;
  align-items: center;
  justify-content: center;
  padding-bottom: 4px;
  text-transform: uppercase;

}
.head .line1{
  height: 1.5px;
  width: 30px;
  background-color: #141414;
  
}
.head .line2{
  height: 1.5px;
  width: 12px;
  background-color: #141414;
}
.head i{
  font-size: 4px;
  color: red;
}
.head p{
  font-size: 15px;
  font-weight:bolder;
  color: var(--primary-color);
}

/* end common css  */

/* header  */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 5;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:  0px 3rem;
  margin: 0.1rem;
  border: 1px solid var(--primary-color);
/*   background-color: var(--secondary); */
  background-image: linear-gradient(to right, #f9f5f3 0%, #e2edf4 100%);
  box-shadow: var(--box-shadow);
  font-size: 1.1rem;
}

.header-logo img{
  filter: brightness(0.8) contrast(1.2) saturate(2);
  cursor: pointer;

  &:hover{
    transform: scale(0.999);
  }
}
nav{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
}
.anchortags{
  color: var(--black);

  &:hover{
    color: var(--primary-color);
  }
}
.menu-btn, .cross-btn{
  display: none;
  cursor: pointer;
}

/* hero section  */
.home{
  margin-top: 73px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center ;
  gap: 2rem;
}

.home-content{
  background-color: rgba(128, 128, 128, 0.078);
  width: 30rem;
  margin: 0 1rem;
  /* border: 1px solid var(--primary-color); */
  border-radius: 15px;
  padding: 2.5rem;
  /* box-shadow: var(--box-shadow); */
  text-align: left;
}
.home-content h3{
  color: var(--primary-color);
  margin: 0 0 1rem 0;
}
.home-info{
  margin-bottom: 1rem;
}
.home-info p{
  text-align: justify;
  line-height: 1.3rem;
  font-size: large;
}
.home-info h1{
  text-align: left;
  margin: 0.5rem 0;
  font-size: 35px;
  background-image: url(Images/images.jpeg);
    background-clip: text;
    color: transparent;
}
.home-content button{
  margin: 0 0rem 0 0;
}

.home-img{
  position: relative;
  display: flex;
  align-items: center;
  max-width: fit-content;
  
}
.home-img img{
  border: 1.5px solid var(--white);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  z-index: 2;
}


.home-img .before{
  position: absolute;
  border-radius: 20px;
  top: -2%;
  left: -2%;
  width: 104%;
  height: 104%;
  overflow: hidden;

}
.home-img .before::after{
  position: absolute;
  content: "";
  top: -30%;
  left: -30%;
  height: 160%;
  width: 160%;  
  animation: spin 3s ease-in infinite;
  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);


  

}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


/* count showcase display  */
.display{
  padding: 0.7rem;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  background-color: var(--primary-color);

}
.display .box{
  height: 7rem;
  width: 7rem;
  background-color: white;
  margin: 0.5rem 0;
  border-radius: 50%
}

.display .box{
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.display .box i{
  font-size: 1.5rem;
  color: var(--primary-color);
}
.display .box h4{
  color: var(--primary-color);
}

.display .box .count{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
}

/* education section  */
.education{
  background-image: url(./Images/cap-bg.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.925);
}

.education .container{
  position: relative;
  margin: 10px;
  height: 400px;
  width: 500px;
  padding-left: 10px;
}
.education .container .line{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}
.education .container .line2{
  position: absolute;
  height: 100%;
  width: 6px;
  background-color: black;
  border-radius: 10px;
  top: 0;
  left: 47px;
}

.education .container .line .info-box{
  display: flex;
  flex-flow: row;
  gap: 10px;
}

.education .container .line .info-box div{
  width: 400px;
}

.education .container .line .info-box .desc{
  text-align: left;
  line-height: 23px;
  color: black;
}

.education .container .line .circles{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  display: grid;
  place-items: center;
  z-index: 3;
}

/* project section */

.project-container{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 1rem;
  row-gap: 3rem;
  padding: 1.5rem;
}
.project-container .box{
  width: 20rem;
  height: auto;
  
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border: 1px solid black;
  cursor: pointer;

  &:hover .project-content{
    bottom: 0;
  }
}

.project-img{
  position: relative;
  width: 100%;
  height: 19rem;
  border: 1px solid var(--primary-color);
  overflow: hidden;
}
.project-img img{
  width: 100%;
  height: 100%;
}
.project-content{
  position: absolute;
  /* background-color: #6674ccb7; */
  background-image: linear-gradient(to right, #f9f5f3 0%, #e2edf4 100%);
  color: var(--black);
  border: 1px solid var(--primary-color);
  bottom: 100%;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  transition: all 0.3s linear;
  line-height: 1.3rem;

}
.project-content p{
  text-align: justify;
  
}
.project-content h4{
  text-align: left;
}

.project-title{
  width: 100%;
  height: 4.5rem;
  border: 1px solid var(--primary-color);
  z-index: 10;
}

.project-title h4{
  color: var(--primary-color);
  margin: 0.5rem;
}
.project-title a{
  font-size: 1.7rem;
  margin: 0 1rem;
}

/* skilss  */

.skills .skills-img{
  padding: 1.5rem;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 5rem;
  row-gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.skills .skills-img img{
  width: 8rem;

  &:hover{
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--primary-color);
  }
}


@media(max-width:400px){
  .skills .skills-img{
    gap: 1rem;
  }
}

/* portfolio achievements */

.portfolio-container{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.portfolio-container .box{
  width: 22rem;
  height: 30rem;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 1rem;

}
.portfolio-container .box .innerbox{
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--box-shadow);

  &:hover .box-desc{
    top: 0;
  }
}
.portfolio-container .box .innerbox .box-desc{
  position: absolute;
  top: 100%;
  height: 100%;
  padding: 1rem;
  line-height: 1.4rem;
  color: white;
  background-color: #6674ccb7;
  transition: all 0.3s linear;
}
.portfolio-container .box .innerbox .box-desc h3{
  padding-bottom: 1rem;
}
.portfolio-container .box1 .innerbox:nth-last-of-type(2){
  background-image: url(./Images/zonal-handball.jpg);
  height: 50%;
}
.portfolio-container .box1 .innerbox:nth-last-of-type(1){
  background-image: url(./Images/sumago.jpg);
  height: 50%;
}

.portfolio-container .box2 .innerbox:nth-last-of-type(2){
  background-image: url(./Images/nptel.jpg);
  height: 65%;
}
.portfolio-container .box2 .innerbox:nth-last-of-type(1){
  background-image: url(./Images/aws.png);
  height: 35%;
}


.portfolio-container .box3 .innerbox:nth-last-of-type(2){
  background-image: url(Images/review-paper.jpg);
  height: 55%;
}
.portfolio-container .box3 .innerbox:nth-last-of-type(1){
  background-image: url(./Images/hackerrank.png);
  height: 45%;
}

.portfolio-container .box .innerbox .box-desc p{
  text-align: justify;
}

/* Contact section  */
.contact .container{
  position: relative;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
  padding: 3rem;
}
.contact .box-touch{
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 30rem;
  gap: 1rem 0;
  border: 1px solid blue;
  padding: 4rem 1rem 1rem 1rem;
}

.contact .input-box{
  width: 20rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 0.7rem;
  text-align: left;
  border-radius: 0.7rem;
}

.contact .box-contact{
  position: relative;
  width: 30rem;
  display: grid;
  place-items: center;
  /* padding: 3rem 4.7rem 1rem 4.7rem; */
  /* padding-top: 2.5rem; */
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}
.contact .box-contact .contact-detail{
  width: 21rem;
  margin: 3rem 1rem 1rem 0;
  padding: 0.7rem;
  display: flex;
  flex-flow: column;
  gap: 1rem 0;
  align-items: center;
  justify-content: center;
}
.contact .box-contact div{
  margin-bottom: 1rem;
}
.contact .container .title{
  position: absolute;
  top: 0.5rem;
  left: 1.5rem;

}
.contact .box-touch h3{
  color: var(--primary-color);
}
.contact .box-contact h3{
  color: var(--white);
}
.contact .container .success-msg{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.732);
  left: 0;
  top: 0;
  color: green;
  place-items: center;
  z-index: 4;
}
.contact .container .success-msg i{
  font-size: 5rem;
  padding: 1rem;
}

.contact .container .loader{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.732);
  place-items: center;  
}
.contact .container .loader .loading{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 6px solid rgba(128, 128, 128, 0.265);
  border-top: 6px solid var(--primary-color);
  animation: spin 1s linear infinite;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


/* footer  */
.footer{
  position: relative;
  padding: 2.5rem;
  margin:0.1rem;
  border: 1px solid var(--primary-color);
  background-image: linear-gradient(to top, #eed9e8 0%, #c2d2ee 100%);
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content:space-evenly;
  align-items: center;
}
.footer-logo, .footer-links, .footer-desc, .footer-adress{
  min-width: 15rem;
  max-width: 20rem;
  padding-bottom: 1rem;
}
.footer-logo img{
  margin-bottom: 0.5rem;
  filter: brightness(0.8) contrast(1.2) saturate(2);
}

.footer-logo .links{
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.footer-logo .links i{
  font-size: 1.6rem;
  cursor: pointer;

  &:hover{
    transform: scale(1.2);
    color: var(--primary-color);
  }
}
.quick-links{
  display: flex;
  flex-flow: column;
  font-size: 1.3rem;
  gap: 0.8rem 0;
  margin-top: 1.5rem;
  align-items: center;
}
.quick-links-heading{
  text-align: center;
  color: var(--primary-color);
}
.footer-desc{
  line-height: 1.5rem;
  font-size: 1.1rem;
  color: var(--primary-color);
}
.footer-desc p{
  text-align: left;
}
.footer-desc .footer-star{
  text-align: left;
  padding: 0.5rem 0 0 0;
}

.footer-adress{
  display: flex;
  flex-flow: column;
  gap: 1rem 0;
  align-items: end;
}
.footer-adress a{
  font-size: 1.1rem;
  &:hover{
  color: var(--primary-color);
  }
}
.footer-adress .adress p{
  text-align: right;
}

.footer-copyright{
  position: absolute;
  bottom: 1rem;
}

/* end  */






/* media queries */

/* navbar  */
@media (max-width:880px){

  .navbar{
    position: absolute;
    flex-flow: column !important;
    right: -80%;
    top: 0;
    padding: 20px;
    width: 200px;
    background-color: var(--secondary);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
  }
  .menu-btn{
    display: inline-block;
  }
  .cross-btn{
    display: inline-block;
    align-self: flex-end;
    opacity: 0.5;

    &:hover{
      transform: rotate(90deg);
      opacity: 1;
    }
  }
  .navbar.active{
    right: 0;
  }
}

/* footer  */
@media(max-width:604px) {
  .footer-logo, .footer-links, .footer-desc, .footer-adress{
  border-bottom: 1px solid black;
  }
}

/* education  */
@media(max-width:375px){
  .education .container{
    padding-left: 0;
  }
  .education .container .line{
    align-items:baseline;
  }
  .education .container .line2{
    left: 23px;
  }
  .education .container .line .info-box{
    gap: 8px;
  }
  .education .container .line .info-box .desc{
    font-size: 15px;
  }
}


