<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="./component.css">
  <link rel="icon" href="../Images/logo3.png">
  <title>My Education Journey</title>
</head>
<body>
  <header class="header">
    <a class="header-logo" href=""><img src="../Images/logo1.png" alt="Logo" width="150px"></a>
    <nav class="navbar">
      <div href="" class="cross-btn"><i class="fa-solid fa-times"></i></div>
      <a href="../index.html" class="anchortags" target="_self">Home</a>
      <a href="#" class="anchortags" target="_self">Education</a>
      <a href="./project.html" class="anchortags" target="_self">Projects</a>
      <a href="./skills.html" class="anchortags" target="_self">Skills</a>
      <a href="./portfolio.html" class="anchortags" target="_self">Portfolio</a>
      <a href="./contact.html" class="anchortags" target="_self">Contact Me</a>
      <button class="btn" onclick="window.open('https://drive.google.com/file/d/19bf2WpnLT4o4eICZBK_TFogElFXMO3pQ/view?usp=drive_link','_blank')"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Resume</button>
    </nav>
      <div id="menu-btn" class="menu-btn"><i class="fa-solid fa-bars"></i></div>
  </header>

  <section id="education" class="education">
    <div class="head">
      <div class="line1"></div>
      <div class="line2"></div>
      <i class="fa-solid fa-circle"></i>
      <p class="title"><em>My Education Journey</em></p>
    </div>
    <div class="container">
      <div class="line">
        <div class="info-box">
          <i class="fa-solid fa-user-graduate circles" style="background-color:rgb(7, 156, 7);"></i>
          <div>
            <h4 class="desc" style="color: rgb(7, 156, 7);">2022-2026(Persuing)</h4>
            <h3 class="desc">B.tech - Information Technology</h3>
            <p class="desc">Sanjivani College Of Engineering</p>
            <p class="desc">CGPA: 8.93</p>
          </div>
        </div>
        <div class="info-box">
          <i class="fa-solid fa-building-columns circles" style="background-color: rgb(215, 200, 35);"></i>
          <div>
            <h4 class="desc" style="color: rgb(215, 200, 35);">2020-2022</h4>
            <h3 class="desc">Higher Secondary Education</h3>
            <p class="desc">Chht. Shivaji Preparatory Jr. College</p>
            <p class="desc">Percentage: 72.80%</p>
          </div>
        </div>
        <div class="info-box">
          <i class="fa-solid fa-school circles" style="background-color: rgb(243, 60, 60);"></i>
          <div>
            <h4 class="desc" style="color: rgb(243, 60, 60);">2010-2020</h4>
            <h3 class="desc">Primary & Secondary Education</h3>
            <p class="desc">Ramrao Adik Public School</p>
            <p class="desc">Percentage: 86.80%</p>
          </div>
        </div>
      </div>
      <div class="line2"></div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-logo">
      <img src="../Images/logo2.png" alt="Aniket Badakh" width="200px">
      <div class="links">
        <a href="https://www.linkedin.com/in/aniket-badakh/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Annibadakh" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/aniket__17_00/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.hackerrank.com/profile/aniketbadakh2221" target="_blank"><i class="fa-brands fa-hackerrank"></i></a>
      </div>
      <button class="btn" onclick="window.open('https://drive.google.com/file/d/19bf2WpnLT4o4eICZBK_TFogElFXMO3pQ/view?usp=drive_link','_blank')"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Resume</button>
    </div>
    <div class="footer-links">
      <h3 class="quick-links-heading">Links</h3>
      <div class="quick-links">
        <a href="../index.html" class="anchortags" target="_self">Home</a>
        <a href="#" class="anchortags" target="_self">Education</a>
        <a href="./project.html" class="anchortags" target="_self">Projects</a>
        <a href="./skills.html" class="anchortags" target="_self">Skills</a>
        <a href="./portfolio.html" class="anchortags" target="_self">Portfolio</a>
        <a href="./contact.html" class="anchortags" target="_self">Contact Me</a>
      </div>
    </div>

    <div class="footer-desc">
      <p>Thank you for visiting MyProfolio! Your time and interest are greatly appreciated. Feel free to reach out if you have any questions or opportunities. Have a wonderful day!</p>
      <div class="footer-star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="footer-adress">
      <a href="tel:+918767809061">+91 8767809061</a>
      <a href="mailto:aniketbadakh1212@gmail.com" target="_blank">aniketbadakh1212@gmail.com</a>
      <a href="https://www.linkedin.com/in/aniket-badakh/" target="_blank">Linkedin</a>
      <div class="adress">
        <p>Badakh Aniket Ramesh</p>
        <p>Sanjivani College Of Engineering</p>
        <p>Kopargaon-423603</p>
      </div>
    </div>
    <div class="footer-copyright">Copyright © 2024</div>
  </footer>

  <script src="../script.js"></script>
</body>
</html>