<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="./component.css">
  <link rel="icon" href="../Images/logo3.png">
  <title>Achievements</title>
</head>
<body>
  <header class="header">
    <a class="header-logo" href=""><img src="../Images/logo1.png" alt="Logo" width="150px"></a>
    <nav class="navbar">
      <div href="" class="cross-btn"><i class="fa-solid fa-times"></i></div>
      <a href="../index.html" class="anchortags" target="_self">Home</a>
      <a href="./education.html" class="anchortags" target="_self">Education</a>
      <a href="./project.html" class="anchortags" target="_self">Projects</a>
      <a href="./skills.html" class="anchortags" target="_self">Skills</a>
      <a href="#" class="anchortags" target="_self">Portfolio</a>
      <a href="./contact.html" class="anchortags" target="_self">Contact Me</a>
      <button class="btn" onclick="window.open('https://drive.google.com/file/d/1ef_92k70MQvBics0Ph5awbuxi4A672ak/view?usp=sharing','_blank')"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Resume</button>
    </nav>
      <div id="menu-btn" class="menu-btn"><i class="fa-solid fa-bars"></i></div>
  </header>

  <section class="portfolio" id="portfolio">
    <div class="head">
      <div class="line1"></div>
      <div class="line2"></div>
      <i class="fa-solid fa-circle"></i>
      <p class="title"><em>Portfolio</em></p>
    </div>
    <div class="portfolio-container">
      <div class="box box1">
        <div class="innerbox">
          <div class="box-desc">
            <h3>Zonal Level Men's Handball Competition</h3>
            <p>I am honored to be selected for the Zonal Level Men's Handball Competition. This recognition reflects my dedication and passion for the sport. I look forward to showcasing my skills and representing my team at this prestigious event.</p>
          </div>
        </div>
        <div class="innerbox">
          <div class="box-desc">
            <h3>Frontend Development with React</h3>
            <p>Successfully completed a workshop on Frontend Development with React, organized by Sanjivani COE Kopargaon, in November 2023. This accomplishment highlights my dedication to enhancing my skills in modern web development technologies.</p>
          </div>
        </div>
      </div>
      <div class="box box2">
        <div class="innerbox">
          <div class="box-desc">
            <h3>NPTEL Topper: Python for Data Science</h3>
            <p>Recognized as an NPTEL Topper for the Python for Data Science course on 26th October 2023. This achievement showcases my expertise in Python and my commitment to advancing my skills in data science.</p>
          </div>
        </div>
        <div class="innerbox">
          <div class="box-desc">
            <h3>AWS Academy</h3>
            <p>Completed AWS Academy Cloud Foundations and Cloud Architecting courses, showcasing my proficiency in cloud computing and architecture.</p>
          </div>
        </div>
      </div>
      <div class="box box3">
        <div class="innerbox">
          <div class="box-desc">
            <h3>International Conference on Advances in Communications, Computing & Electronic Systems (ACCES-2024)</h3>
            <p>Presented a paper titled "Revolutionizing Learning with Qubits: A Review of Quantum Machine Learning Advances" at the ACCES-2024, organized by Malineni Lakshmaiah Women's Engineering College on April 6, 2024.</p>
          </div>
        </div>
        <div class="innerbox">
          <div class="box-desc">
            <h3>Hackerrank Certifications and Badges</h3>
            <p>Achieved verified certifications in JavaScript (Basic), SQL (Basic), and CSS (Basic) on Hackerrank. Additionally, earned a 3-star badge in Problem Solving, demonstrating strong analytical and coding skills.</p>
          </div>
        </div>
      </div>
    </div>
    
  </section>

  <footer class="footer">
    <div class="footer-logo">
      <img src="../Images/logo2.png" alt="Aniket Badakh" width="200px">
      <div class="links">
        <a href="https://www.linkedin.com/in/aniket-badakh/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Annibadakh" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/aniket__17_00/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.hackerrank.com/profile/aniketbadakh2221" target="_blank"><i class="fa-brands fa-hackerrank"></i></a>
      </div>
      <button class="btn" onclick="window.open('https://drive.google.com/file/d/1ef_92k70MQvBics0Ph5awbuxi4A672ak/view?usp=sharing','_blank')"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Resume</button>
    </div>
    <div class="footer-links">
      <h3 class="quick-links-heading">Links</h3>
      <div class="quick-links">
        <a href="../index.html" class="anchortags" target="_self">Home</a>
        <a href="./education.html" class="anchortags" target="_self">Education</a>
        <a href="./project.html" class="anchortags" target="_self">Projects</a>
        <a href="./skills.html" class="anchortags" target="_self">Skills</a>
        <a href="#" class="anchortags" target="_self">Portfolio</a>
        <a href="./contact.html" class="anchortags" target="_self">Contact Me</a>
      </div>
    </div>

    <div class="footer-desc">
      <p>Thank you for visiting MyProfolio! Your time and interest are greatly appreciated. Feel free to reach out if you have any questions or opportunities. Have a wonderful day!</p>
      <div class="footer-star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="footer-adress">
      <a href="tel:+918767809061">+91 8767809061</a>
      <a href="mailto:aniketbadakh1212@gmail.com" target="_blank">aniketbadakh1212@gmail.com</a>
      <a href="https://www.linkedin.com/in/aniket-badakh/" target="_blank">Linkedin</a>
      <div class="adress">
        <p>Badakh Aniket Ramesh</p>
        <p>Sanjivani College Of Engineering</p>
        <p>Kopargaon-423603</p>
      </div>
    </div>
    <div class="footer-copyright">Copyright © 2024</div>
  </footer>

  <script src="../script.js"></script>
</body>
</html>