<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="./component.css">
  <link rel="icon" href="../Images/logo3.png">
  <title>Projects</title>
</head>
<body>
  <header class="header">
    <a class="header-logo" href=""><img src="../Images/logo1.png" alt="Logo" width="150px"></a>
    <nav class="navbar">
      <div href="" class="cross-btn"><i class="fa-solid fa-times"></i></div>
      <a href="../index.html" class="anchortags" target="_self">Home</a>
      <a href="./education.html" class="anchortags" target="_self">Education</a>
      <a href="#" class="anchortags" target="_self">Projects</a>
      <a href="./skills.html" class="anchortags" target="_self">Skills</a>
      <a href="./portfolio.html" class="anchortags" target="_self">Portfolio</a>
      <a href="./contact.html" class="anchortags" target="_self">Contact Me</a>
      <button class="btn" onclick="window.open('https://drive.google.com/file/d/1Qeuy519a_r_hNSbDSBCe7aH5VjyF4j0z/view?usp=sharing','_blank')"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Resume</button>
    </nav>
      <div id="menu-btn" class="menu-btn"><i class="fa-solid fa-bars"></i></div>
  </header>

  <section id="project" class="projects">
    <div class="head">
      <div class="line1"></div>
      <div class="line2"></div>
      <i class="fa-solid fa-circle"></i>
      <p class="title"><em>Projects</em></p>
    </div>
    <div class="project-container">
      <div class="box">
        <div class="project-img">
          <img src="../Images/project.png" alt="">
          <div class="project-content">
            <h4>Description:</h4>
            <p>This portfolio website is designed to present my professional information in a clear, organized manner. It serves as a digital resume, providing potential employers, clients, or collaborators with detailed insights into my background, skills, and achievements, while also offering an easy way to contact me for opportunities and inquiries.</p>
          </div>
        </div>
        <div class="project-title">
          <h4>Title: MyPortfolio</h4>
          <a href="https://github.com/Annibadakh/my-portfolio" target="_blank"><i class="fa-brands fa-github-square"></i></a>
          <a href="#home" target="_blank"><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      <div class="box">
        <div class="project-img">
          <img src="../Images/logo.png" alt="">
          <div class="project-content">
            <h4>Description:</h4>
            <p>Client-based project for managing mock HSC and SSC exams, including registration, hall tickets, result uploads, and mark sheets, with
              an admin dashboard. Integrated AES-based file encryption for securing sensitive documents, along with SMS and email notifications
              for successful registrations. Used Jira for scrum planning and meetings. Aims to streamline and secure exam management for
              educational organizations.</p>
          </div>
        </div>
        <div class="project-title">
          <h4>Title: PrepPortal - Exam Admin Software</h4>
          <a href="https://github.com/Annibadakh/dnyanganga-eduaction-frontend" target="_blank"><i class="fa-brands fa-github-square"></i></a>
          <a href="#home" target="_blank"><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      <div class="box">
        <div class="project-img">
          <img src="../Images/yuvatech.png" alt="">
          <div class="project-content">
            <h4>Description:</h4>
            <p> Dynamic Website for Computer Institute Management frontend with Node.js and Express backend. MySQL database for storing and retrieving dynamic data. Dynamic user interfaces for professors, accomplishments, subjects, and courses. Module on expenses for effective money management. Easy-to-use contact form for quick responses.</p>
          </div>
        </div>
        <div class="project-title">
          <h4>Title: Dynamic Website</h4>
          <a href="https://github.com/Annibadakh" target="_blank"><i class="fa-brands fa-github-square"></i></a>
          <a href="https://yuvatech-computers.org.in" target="_blank"><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      <div class="box">
        <div class="project-img">
          <img src="../Images/SmartCooler.jpeg" alt="">
          <div class="project-content">
            <h4>Description:</h4>
            <p>SmartCooler is an IoT-driven system designed to automate the regulation of water temperature by monitoring both water and atmospheric temperatures in real-time. Using Arduino, sensors, and relays, it adjusts the cooler and heater to maintain optimal water temperature, ensuring a consistent and comfortable experience. This innovative solution enhances energy efficiency and convenience by adapting to changing environmental conditions.</p>
          </div>
        </div>
        <div class="project-title">
          <h4>Title: The Smart Water Dispenser</h4>
          <a href="https://github.com/Annibadakh" target="_blank"><i class="fa-brands fa-github-square"></i></a>
          <a href="#project"><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      <div class="box">
        <div class="project-img">
          <img src="../Images/budget-buddy.png" alt="">
          <div class="project-content">
            <h4>Description:</h4>
            <p>Budget Buddy is a web application that allows users to track and record their expenses. Built with ReactJS for the frontend and NodeJS for the backend, it provides a seamless experience to manage your budget. Add Total Amount, add Expenses with a title and amount, unique ID Generation, expense List Display, backend Integration- Connected to a database to store and retrieve data.</p>
          </div>
        </div>
        <div class="project-title">
          <h4>Title: Budget Buddy</h4>
          <a href="https://github.com/Annibadakh/budget-buddy" target="_blank"><i class="fa-brands fa-github-square"></i></a>
          <a href="#project"><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      <div class="box">
        <div class="project-img">
          <img src="../Images/youtube_analysis_results.png" alt="">
          <div class="project-content">
            <h4>Description:</h4>
            <p>Developed a Python-based tool that analyzes YouTube video comments using VADER sentiment analysis. The tool provides
              interactive visualizations and insights into viewer opinions through a Streamlit web interface. It helps content creators understand
              audience sentiment, enabling data-driven improvements to their videos.</p>
          </div>
        </div>
        <div class="project-title">
          <h4>Title: Comment Insights Tool</h4>
          <a href="https://github.com/Annibadakh/Comment-Insights-Tool" target="_blank"><i class="fa-brands fa-github-square"></i></a>
          <a href="#project"><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      <div class="box">
        <div class="project-img">
          <img src="../Images/csah-flow.png" alt="">
          <div class="project-content">
            <h4>Description:</h4>
            <p>A project was created utilizing a graph data structure. We put an algorithm into practice to determine the bare minimum cash flow required to pay off obligations for a collection of people. The program computes the net amounts owed by each individual, settles the least of their net amounts, and finds the maximum creditor and debtor in each phase.</p>
          </div>
        </div>
        <div class="project-title">
          <h4>Title: Cash Flow Minimizer</h4>
          <a href="https://github.com/Annibadakh/Cash-Flow-Minimizer-" target="_blank"><i class="fa-brands fa-github-square"></i></a>
          <a href="#project"><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      <div class="box">
        <div class="project-img">
          <img src="../Images/Stone-paper.png" alt="">
          <div class="project-content">
            <h4>Description:</h4>
            <p>This project is a web-based implementation of the classic Stone-Paper-Scissors game. Features- User-friendly interface Real-time gameplay Interactive graphics Score tracking. How to Play ? Select one of the options: Stone, Paper, or Scissors. The computer will randomly choose its option. The winner is determined automatically based rules.The result of each round is displayed, along with the updated scores.</p>
          </div>
        </div>
        <div class="project-title">
          <h4>Title: Stone-Paper-Scissor Game</h4>
          <a href="https://github.com/Annibadakh/stone-paper-scissor-game" target="_blank"><i class="fa-brands fa-github-square"></i></a>
          <a href="https://annibadakh.github.io/stone-paper-scissor-game/"><i class="fa-solid fa-globe"></i></a>
        </div>
      </div>
      
  </div>
  </section>

  <footer class="footer">
    <div class="footer-logo">
      <img src="../Images/logo2.png" alt="Aniket Badakh" width="200px">
      <div class="links">
        <a href="https://www.linkedin.com/in/aniket-badakh/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Annibadakh" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/aniket__17_00/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.hackerrank.com/profile/aniketbadakh2221" target="_blank"><i class="fa-brands fa-hackerrank"></i></a>
      </div>
      <button class="btn" onclick="window.open('https://drive.google.com/file/d/1Qeuy519a_r_hNSbDSBCe7aH5VjyF4j0z/view?usp=sharing','_blank')"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Resume</button>
    </div>
    <div class="footer-links">
      <h3 class="quick-links-heading">Links</h3>
      <div class="quick-links">
        <a href="../index.html" class="anchortags" target="_self">Home</a>
        <a href="./education.html" class="anchortags" target="_self">Education</a>
        <a href="#" class="anchortags" target="_self">Projects</a>
        <a href="./skills.html" class="anchortags" target="_self">Skills</a>
        <a href="./portfolio.html" class="anchortags" target="_self">Portfolio</a>
        <a href="./contact.html" class="anchortags" target="_self">Contact Me</a>
      </div>
    </div>

    <div class="footer-desc">
      <p>Thank you for visiting MyProfolio! Your time and interest are greatly appreciated. Feel free to reach out if you have any questions or opportunities. Have a wonderful day!</p>
      <div class="footer-star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="footer-adress">
      <a href="tel:+918767809061">+91 8767809061</a>
      <a href="mailto:aniketbadakh1212@gmail.com" target="_blank">aniketbadakh1212@gmail.com</a>
      <a href="https://www.linkedin.com/in/aniket-badakh/" target="_blank">Linkedin</a>
      <div class="adress">
        <p>Badakh Aniket Ramesh</p>
        <p>Sanjivani College Of Engineering</p>
        <p>Kopargaon-423603</p>
      </div>
    </div>
    <div class="footer-copyright">Copyright © 2024</div>
  </footer>

  <script src="../script.js"></script>
</body>
</html>