<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="./component.css">
  <link rel="icon" href="../Images/logo3.png">
  <title>Skills</title>
</head>
<body>
  <header class="header">
    <a class="header-logo" href=""><img src="../Images/logo1.png" alt="Logo" width="150px"></a>
    <nav class="navbar">
      <div href="" class="cross-btn"><i class="fa-solid fa-times"></i></div>
      <a href="../index.html" class="anchortags" target="_self">Home</a>
      <a href="./education.html" class="anchortags" target="_self">Education</a>
      <a href="./project.html" class="anchortags" target="_self">Projects</a>
      <a href="#" class="anchortags" target="_self">Skills</a>
      <a href="./portfolio.html" class="anchortags" target="_self">Portfolio</a>
      <a href="./contact.html" class="anchortags" target="_self">Contact Me</a>
      <button class="btn" onclick="window.open('https://drive.google.com/file/d/1VoCpLBGFwLaB2wiUBLTAS4fDGmnX7e3j/view?usp=drive_link','_blank')"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Resume</button>
    </nav>
      <div id="menu-btn" class="menu-btn"><i class="fa-solid fa-bars"></i></div>
  </header>

  <section id="skills" class="skills">
    <div class="head">
      <div class="line1"></div>
      <div class="line2"></div>
      <i class="fa-solid fa-circle"></i>
      <p class="title"><em>Skills</em></p>
    </div>
    <div class="skills-img">
      <img src="../Images/html.png" alt="">
      <img src="../Images/css.png" alt="">
      <img src="../Images/js.png" alt="">
      <img src="../Images/react.png" alt="">
      <img src="../Images/nodejs.png" alt="">
      <img src="../Images/express.png" alt="">
      <img src="../Images/mongodb.png" alt="">
      <img src="../Images/github.png" alt="">
      <img src="../Images/cprog.png" alt="">
      <img src="../Images/python.png" alt="">
      <img src="../Images/java.png" alt="">
      <img src="../Images/dsa.png" alt="">
    </div>
  </section>.

  <footer class="footer">
    <div class="footer-logo">
      <img src="../Images/logo2.png" alt="Aniket Badakh" width="200px">
      <div class="links">
        <a href="https://www.linkedin.com/in/aniket-badakh/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Annibadakh" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/aniket__17_00/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.hackerrank.com/profile/aniketbadakh2221" target="_blank"><i class="fa-brands fa-hackerrank"></i></a>
      </div>
      <button class="btn" onclick="window.open('https://drive.google.com/file/d/1VoCpLBGFwLaB2wiUBLTAS4fDGmnX7e3j/view?usp=drive_link','_blank')"><i class="fa-solid fa-download"></i>&nbsp;&nbsp;Resume</button>
    </div>
    <div class="footer-links">
      <h3 class="quick-links-heading">Links</h3>
      <div class="quick-links">
        <a href="../index.html" class="anchortags" target="_self">Home</a>
        <a href="./education.html" class="anchortags" target="_self">Education</a>
        <a href="./project.html" class="anchortags" target="_self">Projects</a>
        <a href="#" class="anchortags" target="_self">Skills</a>
        <a href="./portfolio.html" class="anchortags" target="_self">Portfolio</a>
        <a href="./contact.html" class="anchortags" target="_self">Contact Me</a>
      </div>
    </div>

    <div class="footer-desc">
      <p>Thank you for visiting MyProfolio! Your time and interest are greatly appreciated. Feel free to reach out if you have any questions or opportunities. Have a wonderful day!</p>
      <div class="footer-star">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>
    <div class="footer-adress">
      <a href="tel:+918767809061">+91 8767809061</a>
      <a href="mailto:aniketbadakh1212@gmail.com" target="_blank">aniketbadakh1212@gmail.com</a>
      <a href="https://www.linkedin.com/in/aniket-badakh/" target="_blank">Linkedin</a>
      <div class="adress">
        <p>Badakh Aniket Ramesh</p>
        <p>Sanjivani College Of Engineering</p>
        <p>Kopargaon-423603</p>
      </div>
    </div>
    <div class="footer-copyright">Copyright © 2024</div>
  </footer>

  <script src="../script.js"></script>
</body>
</html>